<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/clean-blog.min.css') }}">
    <!-- here we added a link to link our css so we use template inheritance 
        like we did before in the previous video. We use url_for() again 
        but this time url_for is going to take 2 arguments.
        one is static and wrapped inside single-quotes so that url_for knows 
        to look for the static directory.
        And the second argument will target a specific file.Here css.
    -->
    <title>Hello Flask</title>
  </head>
  <body>
    <nav class="navbar">
      <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <!-- using Jinja templating method of url_for in order 
            to call the appropriate functions. The format is as 
            above double curly brackets opening and closing 
        -->
        <li><a href="{{ url_for('about') }}">About</a></li>
        <!-- so what we do here is calling the url_for()
            unction that looks up the view called 'index()'
            or the view called 'about()' and then injects some text
            which is the actual root.  The names have to correspond to 
            the views, that means our index() view and our about()view. 
        -->
        <li><a href="{{ url_for('contact') }}">Contact</a></li>
        <li><a href="{{ url_for('careers') }}">Careers</a></li>
      </ul>
      <!-- the double curly brackets contain 
        an expression which output something  
        onto the screen, or in this case into our href. -->
    </nav>

    {% block content %} {% endblock %}
    <!-- what we are doing here is defining a block or an 
        area that we can inject content into from other pages.
        The curly bracket and percentage are for statements 
        that control the flow of our template, such
        as a for-loop, if-statement, or this block element.
    -->
  </body>
</html>
